{% extends 'views/layouts/main.twig' %}
{% block page_content %}
<div class="jumbotron">
    <h1>Not A Wordpress</h1>
    <p>
        A solution that does not use wordpress.
    </p>
</div>
{% endblock %}